<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Room</title>
</head>
<body>

            <p style="color: red;">{{message}}</p>
            <p style="color: green;">{{roomgot}}</p>
            

        <br><br>

        <p>Select from the rooms available for you</p>
        <form method="post">
            {% csrf_token %}
            <select name="roomchoose" required>
                <option value="">Select Room</option>
                {% for room in room %}
                    <option value="{{room.id}}">{{room}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit">
        </form>
        
    
</body>
</html>